body{
	background-color: #87CEFA;
}	
img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	
}
/*
#list{
	border: 1px solid black;
	background-color: red;
	margin: 0px 60% 0px 0px;
}
*/
#bleDeviceList{
	border: 1px solid black;
	background-color: #87CEEB;
	margin: 0px 60% 0px 0px;
	overflow: hidden;
}

/* width will be 100% of content */
#refreshButton{
	width: 100%;
}
#sendButton{
	width: 100%;
}
#LockButton{
	width: 100%;
}
#UnlockButton{
	width: 100%;
}
#header1{
	text-align: center;
}
